.submit-recipe-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('/Users/lakshmanrangisetti/Downloads/django/food-sharing-frontend/src/images/submitrecipe.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 40px; /* Adjust if needed */
    margin-bottom: 40px;
}

.form-heading {
    font-family: 'Stencil Std', cursive;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Comic Sans MS', cursive;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 8px;
    background-color: rgb(80, 189, 80);
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Comic Sans MS', cursive;
    cursor: pointer;
}

.submit-button:hover {
    background-color: green;
}

.error-message {
    color: red;
    font-weight: bold;
}
